<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="container">
    <div class="mem-header">
        <span onclick="history.back()"><i class="fa-solid fa-chevron-left"></i></span>
        <span>비밀번호 찾기</span>
    </div>
    <div class="mem-body p-2">
        <form id="pwForm" th:action="@{/member/find/pw}" method="post">
            <div>
                <div>이름<b class="required-data">*</b></div>
                <input type="text" class="form-control font-s mt-2" id="name" name="name" placeholder="이름을 입력해 주세요"
                    autocomplete="off" required>
                <div class="font-xs invalid-data" id="isValidName">- 한글/영문 대소문자만 사용 가능합니다.</div>
            </div>
            <div class="mt-4">
                <div>아이디<b class="required-data">*</b></div>
                <input type="text" class="form-control font-s mt-2" id="memLoginId" name="memLoginId" placeholder="아이디를 입력해 주세요"
                    autocomplete="off" required>
                <div class="font-xs invalid-data" id="isValidId">- 영문자로 시작하고 6~20자의 영문자 및 숫자로 구성되어야 합니다.</div>
            </div>
            <div class="mt-4">
                <div>휴대폰번호<b class="required-data">*</b></div>
                <div class="input-btn-container">
                    <input type="number" class="form-control font-s pe-5 mt-2" id="phone" placeholder="'-'없이 연속으로 입력"
                        autocomplete="off" oninput="maxLengthNum(this, 11)" required>
                    <button type="button" class="button-bw-s font-s">인증번호</button>
                </div>
            </div>
            <div class="mt-4">
                <div>인증번호<b class="required-data">*</b></div>
                <div class="input-btn-container">
                    <input type="text" class="form-control font-s pe-5 mt-2" id="verifiNum" placeholder="인증번호를 입력해 주세요"
                        autocomplete="off" required>
                    <button type="button" class="button-bw-s font-s">확인</button>
                </div>
            </div>
            <button type="button" class="button-bw-l mt-4 regist-btn" id="saveBtn" disabled>확인</button>
        </form>
    </div>
    <div id="findPwN" class="find-mem-container">
        <div>
            <div class="find-alarm failure">
                <div><i class="fa-solid fa-exclamation m-auto"></i></div>
                <div class="font-m">해당 정보로 가입된 계정을 찾을 수 없습니다.</div>
                <div><span class="font-s" onclick="closeAlert('findPwN')">확인</span></div>
            </div>
        </div>
    </div>
    
    <script>
        const isValidName = document.getElementById('isValidName');
        const isValidId = document.getElementById('isValidId');

        const name = document.getElementById('name');
        const memLoginId = document.getElementById('memLoginId');
        const phone = document.getElementById('phone');
        const saveBtn = document.getElementById('saveBtn');
        const findPwN = document.getElementById('findPwN');

        let isNameChecked = false;
        let isIdChecked = false;

        name.addEventListener('input', function() {
            isValidName.style.display = isName(name.value) ? 'none' : 'block';
            isNameChecked = isName(name.value);
            console.log('name: ' + this.value);
            validateForm();
        });

        memLoginId.addEventListener('input', function() {
            isValidId.style.display = isId(memLoginId.value) ? 'none' : 'block';
            isIdChecked = isId(memLoginId.value);
            validateForm();
        });

        function validateForm() {
            if (isNameChecked && isIdChecked) {
                saveBtn.disabled = false;
            } else {
                saveBtn.disabled = true;
            }
        }

        saveBtn.addEventListener('click', function(e) {
            e.preventDefault();

            fetch(`/member/find/pw?name=${encodeURIComponent(name.value)}
                    &memLoginId=${encodeURIComponent(memLoginId.value)}
                    &phone=${encodeURIComponent(phone.value)}`, {
                method: 'POST',
                headers: { "Content-Type": "application/json" },
                // body: JSON.stringify(bodyData)
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error('서버 오류: ' + response.status);
                    }
                    return response.json();
                })
                .then((data) => {
                    console.log("data.result: " + data.result);
                    console.log("data.url: " + data.url);

                    if (data.result) {
                        location.replace(data.url);
                    } else {
                        findPwN.style.display = 'block';
                    }
                })
                .catch((error) => {
                    console.error("에러: " + error);
                });
        });
    </script>
</div>
</html>