<div th:fragment="navFragment">
    <nav class="nav-container">
        <div class="nav-content">
            <a href="#" onclick="goMainWithoutHistory('/main'); return false;">
                <i class="bi bi-house-door"></i>
                <span class="font-xs">HOME</span>
            </a>
            <a href="#">
                <i class="bi bi-pin-map"></i>
                <span class="font-xs">찾기</span>
            </a>
            <a href="#">
                <i class="bi bi-qr-code-scan"></i>
                <span class="font-xs">QR</span>
            </a>
            <a href="#">
                <i class="bi bi-list"></i>
                <span class="font-xs">전체</span>
            </a>
        </div>
    </nav>
</div>
