<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="main-content">
    <div th:replace="~{fragments/header :: headerFragment}"></div>

    <div class="user-state-container" sec:authorize="isAnonymous()">
        <span style="font-size: 26px;"><i class="bi bi-person-circle"></i></span>
        <span class="ms-2">로그인이 필요합니다.</span>
        <span class="span-bw-r font-s ms-auto">
            <a th:href="@{/login}">로그인</a>
        </span>
    </div>
    <div class="user-state-container" sec:authorize="isAuthenticated()">
        <span style="font-size: 26px;"><i class="bi bi-person-circle"></i></span>
        <span class="ms-2" th:text="|${name} 님|"></span>
        <span class="span-bw-r font-s ms-auto">
            <a th:href="@{/logout}">로그아웃</a>
        </span>
    </div>
    <div class="font-m pt-3 user-content">
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/mypage/info}"><p>개인정보수정</p></a>
            <p>PUSH 설정 및 수신</p>
            <p>결제카드관리</p>
            <a th:href="@{/mypage/history/charge}"><p>충전이력</p></a>
            <a th:href="@{/mypage/voc}"><p>1:1 문의</p></a>
            <a th:href="@{/mypage/myvoc}"><p>내 문의내역</p></a>
        </div>
        <a th:href="@{/mypage/notice}"><p>공지사항</p></a>
        <a th:href="@{/mypage/faq}"><p>자주하는 질문</p></a>
        <p>이용약관 및 정책</p>
        <p>버전 정보</p>
    </div>

    <div th:replace="~{fragments/nav :: navFragment}"></div>
</div>
</html>