<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="main-content">
    <div th:replace="~{fragments/header :: headerFragment}"></div>

    <div class="user-state-container">
        <span style="font-size: 26px;"><i class="bi bi-person-circle"></i></span>
        <span class="ms-2">로그인이 필요합니다.</span>
        <button type="button" class="button-bw-r font-s ms-auto">로그인</button>
    </div>
    <div class="font-m pt-3">
        <div sec:authorize="isAuthenticated()">
            <p>개인정보수정</p>
            <p>PUSH 설정 및 수신</p>
            <p>결제카드관리</p>
            <p>충전이력</p>
            <p>1:1 문의</p>
            <p>내 문의내역</p>
        </div>
        <p>공지사항</p>
        <p>자주하는 질문</p>
        <p>이용약관 및 정책</p>
        <p>버전 정보</p>
    </div>

    <div th:replace="~{fragments/nav :: navFragment}"></div>
</div>
</html>